*{
    background-color: beige;
}
#heading{
    font-size:xx-large;
    font-family:'Times New Roman', Times, serif;
    color: rgb(231, 10, 47);
}
#para{
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
}